* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

.custom-btn {
  background-color: #2B3467 !important;
  color: white !important;
  border: none;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #636c9a;
}

body {
  background-color: #fcffe7;
  font-family: "Poppins", sans-serif !important;
}
.navbar-brand {
  font-weight: bold;
  color: #eb455f !important;
}
.hero-section {
  padding: 50px 0;
}
.footer {
  background-color: #2B3467;
  color: white;
  padding: 20px 0;
}

footer .item-footer::after {
  border-bottom: 10px solid black;
}
